<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ISAA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style_about.css') }}">

    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="/" class = "nav_lk" style="padding-left: 15px;">Home</a>
                <a href="#" class = "nav_lk">About</a>
                <a href="/services" class = "nav_lk">Services</a>
                <a href="/team" class = "nav_lk">Team</a>
                <a href="/descriptions" class = "nav_lk">Description</a>
                <a href="/contact" class = "nav_lk">Contact</a>
            </nav>
        </header>
        <div align="center">
        <section class="about-content" >
        <h2>Our Mission</h2>
        <p>We are a dedicated team of machine learning enthusiasts on a mission to make the internet a safer place. Our XSS Scanner is a powerful tool designed to help users identify and mitigate potential cross-site scripting (XSS) vulnerabilities in their web applications and websites.</p>

        <h3>How It Works</h3>
        <p>Our XSS Scanner utilizes six state-of-the-art machine learning models to analyze and predict whether a given URL or web page is vulnerable to XSS attacks. By scanning your website with our tool, you can proactively identify and address potential security risks, ensuring the safety of your users' data and the integrity of your web applications.</p>

        </section>.
        </div>
    </body>


</html>