<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ISAA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style_contact.css') }}">

    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="/" class = "nav_lk" style="padding-left: 15px;">Home</a>
                <a href="/about" class = "nav_lk">About</a>
                <a href="/services" class = "nav_lk">Services</a>
                <a href="/team" class = "nav_lk">Team</a>
                <a href="/descriptions" class = "nav_lk">Description</a>
                <a href="#" class = "nav_lk">Contact</a>
            </nav>
        </header>

        <div id = "Abt_bd">
            <h1>Contact Us</h1>
    <div class="contact-form">
        <form action="" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>
        </div>
    </body>


</html>